{% extends 'dashboard/baseStudentDashboard.html' %}

{% load static %}

<!--css-->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--font-awesome-->
<link rel="stylesheet" href="{% static 'fontawesome-free-6.4.0-web/css/all.min.css' %}">

<!--Bootstrap-->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<!--material icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+outline" rel="stylesheet">

{% block content %}

<!--main-->
<main class="main-container">
    
    <div style="margin-left: 4px; padding: 0 0 0 12px; color: #fff; background-color: #343865; width: 80%; border-radius: 5px;" class="row">
        <div class="col-md-4">
            <h4>{{request.user.student}}</h4>
            <br>
            <h4>{{request.user.student.level}}</h4>
        </div>
        <div class="col-md-4">
            <h4>Term: Term 2</h4>
            <br>
            <h4>Year: 2023</h4>
        </div>
    
    </div>
    
    <table class="product-catalogue-table" border="1">
        <tr class="th-row">
            <th>Subject</th>
            <th>Mark</th>
            <th>Grade</th>
            <th>Remarks</th>
            <th>Teacher</th>
        </tr>
        {% for subject in subjects %}
        <tr style="color: black; background-color: lightgoldenrodyellow;" class="table-data">
            <td style="padding: 10px;">{{subject.subject.name}}</td> &nbsp;
            <td>{{subject.mark}}%</td>
            <td>{{subject.grade}}</td>
            <td>{{subject.remarks}}</td>
            <td>{{subject.subject.teacher}}</td>
        </tr>
        {% endfor %}
    </table>

    <div style="margin-left: 4px; color: #d8d6e8; background-color: #343865; width: 100%; border-radius: 5px; padding: 8px 0 0 5px;" class="row mt-5">
        <div class="col-md-6">
            <p style="font-size: 17px;">
                School levies must be paid on or before the opening day
            </p>
            <br>
        </div>
        <div class="col-md-6">
            <p style="font-size: 17px;">
                Next Term Begins On: 09-09-2023
            </p>
        </div>
    </div>
    <hr>
    <a href="{% url 'studentDashboard' %}">
        <input style=" margin-right: auto; margin-left: auto;" type="submit" class="btn btn-warning" value="Close">
    </a>
    <a href="{% url 'all_students_pdf' %}">
        <input style=" margin-right: auto; margin-left: auto;" type="submit" class="btn btn-primary" value="Download as Pdf">
    </a>
    
</main>
<!--end main-->
{{ redirect_to_login_immediately }}


<!-- Modal -->

{% endblock content %}