{% extends 'dashboard/basePrincipalDashboard.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome-free-6.4.0-web/css/all.css' %}">

{% block content %}

<main class="main-container">
    <div class="row mt-5"
    style="line-height: 2.5rem; padding: 5px 10px 10px 10px; color: #c3c3c3; background-color: #23254f; width: 80%; border-radius: 5px; margin-left: auto; margin-right: auto;"
    class="delete delete-centered mt-5">
    <h3>
        Password Reset Complete
    </h3>

    <p>
        Your password has been reset successfully.
    </p>

    <a href="{% url 'adminDashboard' %}">
        <input type="button" class="btn btn-success" style="width: 150px;" value="Back">
    </a>

</div>
</main>
   

{% endblock content %}

